{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="activate-flex">
        <h1 class="activate-flex-title">Подтвердите ваш Email</h1>
        <div class="activate-flex-block">
            <p class="activate-flex-block-text">Чтобы продолжить, перейдите по ссылке, которую мы отправили на ваш адрес электронной почты.</p>
            <p class="activate-flex-block-text">Если вы не получили письмо, <a href="#" class="activate-flex-block-link">нажмите сюда</a>, чтобы мы отправили его повторно.</p>
        </div>
    </div>
{% endblock content %}