{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="activate-flex">
        <h1 class="activate-flex-title">Ошибка подтверждения email!</h1>
        <div class="activate-flex-block">
            <p class="activate-flex-block-text">Что-то пошло не так!</p>
            <p class="activate-flex-block-text">Если вы не получили письмо, <a href="#" class="activate-flex-block-link">нажмите сюда</a>, чтобы мы отправили его повторно.</p>
        </div>
    </div>
{% endblock content %}