{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="main-login">
        <h1 class="main-login-title">Восстановление пароля</h1>

        {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <p class="error-form-text">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="main-login-auth">
            <form class="main-login-auth-form" method="POST">
                {% csrf_token %}
                <label for="{{ form.password1.id_for_label }}">Пароль</label>
                {{ form.password1 }}
                <label for="{{ form.password2.id_for_label }}">Повторите пароль</label>
                {{ form.password2 }}
                <button class="main-login-auth-block-button" type="submit">Восстановить</button>
            </form>
        </div>
    </div>
{% endblock content %}