{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="main-login">
        <h1 class="main-login-title">Забыли пароль</h1>

        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <p class="error-form-text">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <div class="main-login-auth">
            <form class="main-login-auth-form" method="POST">
                {% csrf_token %}
                <label for="{{ form.email.id_for_label }}">Адрес эл. почты</label>
                {{ form.email }}
                <button class="main-login-auth-block-button" type="submit">Восстановить</button>
            </form>
        </div>
    </div>
{% endblock content %}