{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="blog-flex">
        <div class="blog-flex-content">
            {% for question in questions %}
                <div class="blog-flex-content-item">
                    <div class="blog-flex-content-item-categories">
                        {% for category in question.categories.all %}
                            <a class="blog-flex-content-item-categories-item" href="#">{{ category.name }}</a>
                        {% endfor %}
                        <a class="blog-flex-content-item-categories-grade" href="#">{{ question.grade.name }}</a>
                    </div>
                    <h1 class="blog-flex-content-item-title-trainee" href="#">{{ question.title }}</h1>
                    <details>
                        <summary class="lesson-flex-wrapper-questions-item-legend">Показать ответ</summary>
                        <p class="blog-flex-content-item-title-trainee-text">{{ question.answer|safe }}</p>
                    </details>
                </div>
            {% endfor %}
        </div>
        <div class="blog-flex-nav">
            <div class="blog-flex-nav-search">
                <form method="GET">
                    <input id="search" name="search" placeholder="Поиск..." type="text" class="blog-flex-nav-search-input">
                    <button type="submit" class="blog-flex-nav-seacrh-block-button">Поиск</button>
                </form>
            </div>
            <div class="blog-flex-nav-tags">
                <div class="blog-flex-nav-tags-wrapper">
                    {% for grade in grades %}
                        <a href="#" class="blog-flex-nav-tags-wrapper-item">{{ grade.name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="blog-flex-nav-tags">
                <div class="blog-flex-nav-tags-wrapper">
                    {% for category in categories %}
                        <a href="#" class="blog-flex-nav-tags-wrapper-item">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}