{% extends "base.html" %}
{% load time_count_declination %}
{% load static %}


{% block content %}
    <div class="post-flex">
        <div class="post-flex-content">
            <div class="blog-flex-content-item-categories">
                {% for tag in post.tags.all %}
                    <a class="blog-flex-content-item-categories-item" href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                {% endfor %}
            </div>
            <p class="post-flex-content-title">{{ post.title }}</p>
            <div class="blog-flex-content-item-block">
                <p class="blog-flex-content-item-block-date">{{ post.created_date }}</p>
                <p>•</p>
                <p class="blog-flex-content-item-block-time">{{ post.time_reading }} {{ post.time_reading|time_count_declination }} чтения</p>
            </div>
            <p class="post-flex-content-desc">{{ post.body|safe }}</p>
            <div class="sep"></div>
            <div class="blog-flex-content-item-reactions">
                    <div class="blog-flex-content-item-reactions-item">
                        <img class="blog-flex-content-item-reactions-item-image" src="{% static 'img/UX/like_icon.png' %}" alt="Like">
                        <p class="blog-flex-content-item-reactions-item-amount">0</p>
                    </div>
                    <div class="blog-flex-content-item-reactions-item">
                        <img class="blog-flex-content-item-reactions-item-image-dis" src="{% static 'img/UX/dislike_icon.png' %}" alt="Dislike">
                        <p class="blog-flex-content-item-reactions-item-amount">0</p>
                    </div>
                    <div class="blog-flex-content-item-reactions-item">
                        <img class="blog-flex-content-item-reactions-item-image" src="{% static 'img/UX/water_icon.png' %}" alt="Water">
                        <p class="blog-flex-content-item-reactions-item-amount">0</p>
                    </div>
            </div>
        </div>
        <div class="post-flex-comments">
            <p class="post-flex-comments-title">Комменатрии</p>
            {% if not user.is_authenticated %}
                <p class="post-flex-comments-auth">Чтобы оставлять комментарии, <a class="post-flex-comments-auth-link" href="#">авторизируйтесь.</a></p>
            {% else %}
                <form method="POST">
                    <textarea class="post-flex-comments-input" placeholder="Напишите здесь свой комментарий..." rows="4" name="" id=""></textarea>
                    <div class="post-flex-comments-block">
                        <button type="submit" class="post-flex-comments-button">Отправить</button>
                    </div>
                </form>
            {% endif %}
            <div class="sep"></div>
            {% if not comments %}
                <p class="post-flex-comments-auth">Комментариев пока нет, будь первым!</p>
            {% else %}
                <div class="post-flex-comments-column">
                    {% for comment in comments %}
                        <div class="post-flex-comments-column-item">
                            {% if comment.user.avatar %}
                                <img class="post-flex-comments-column-item-avatar" src="{{ comment.user.avatar.url }}" alt="User avatar">
                            {% else %}
                                <img class="post-flex-comments-column-item-avatar" src="{% static 'img/default.png' %}" alt="User avatar">
                            {% endif %}
                            <div class="post-flex-comments-column-item-content">
                                <div class="post-flex-comments-column-item-content-info">
                                    <p>{{ comment.user.username }}</p>
                                    <p>{{ comment.created_date }}</p>
                                    {% if comment.user == user %}
                                        <a class="post-flex-comments-column-item-content-info-edit" href="#">Редактировать</a>
                                        <a class="post-flex-comments-column-item-content-info-delete" href="#">Удалить</a>
                                    {% endif %}
                                </div>
                                <p class="post-flex-comments-column-item-content-text">{{ comment.body }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}