{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="contacts-flex">
        <img class="main-login-image" src="{% static 'img/UX/feedback_icon.png' %}" alt="Feedback">
        <h1 class="contacts-flex-title">Обратная связь</h1>
        <div class="main-login-auth">
            <form class="main-login-auth-form" method="POST">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Имя</label>
                {{ form.username }}
                <label for="{{ form.email.id_for_label }}">Адрес эл. почты</label>
                {{ form.email }}
                <label for="{{ form.message.id_for_label }}">Сообщение</label>
                {{ form.message }}
                <button class="main-login-auth-block-button" type="submit">Отправить</button>
            </form>
        </div>
    </div>
{% endblock content %}