{% extends "base.html" %}
{% load students_count_declination %}
{% load hours_count_declination %}
{% load static %}

{% block content %}
    <div class="slider">
        {% for item in slider_images %}
            <img src="{{ item.image.url }}" alt="{{ item.alt_text }}" class="slide">
        {% endfor %}
    </div>

    <div class="main-courses">
        <h1 class="main-courses-title">Популярные курсы</h1>
        <div class="main-courses-flex">
            {% for course in courses %}
                <div class="main-courses-flex-item">
                    <div class="main-courses-flex-item-news">
                        <div class="main-courses-flex-item-news-circle-new"></div>
                        <p class="main-courses-flex-item-news-text">{{ course.get_status_display }}</p>
                    </div>
                    <h2 class="main-courses-flex-item-name">{{ course.title }}</h2>
                    <p class="main-courses-flex-item-desc">{{ course.short_description }}</p>
                    <div class="main-courses-flex-item-info">
                        <div class="main-courses-flex-item-info-item">
                            <img class="main-courses-flex-item-info-image" src="{% static 'img/UX/time_icon.svg' %}" alt="Time">
                            <p class="main-courses-flex-item-info-text">{{ course.amount_hours }} {{ course.amount_hours|hours_count_declination }}</p>
                        </div>
                        <div class="main-courses-flex-item-info-item">
                            <img class="main-courses-flex-item-info-image" src="{% static 'img/UX/students_icon.png' %}" alt="Amount students">
                            <p class="main-courses-flex-item-info-text">{{ course.amount_students }} {{ course.amount_students|students_count_declination }}</p>
                        </div>
                    </div>
                    <div class="main-courses-flex-item-button-block">
                        <a class="main-courses-flex-item-button" href="{{ course.get_absolute_url }}">Начать обучение</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="main-links">
        <div class="main-links-flex">
            <a class="main-links-flex-item" href="{% url 'courses_list' %}">
                <h3 class="main-links-flex-item-title">Курсы</h3>
                <p class="main-links-flex-item-text">Выберите подходящий для себя курс и начинайте погружение в мир IT!</p>
            </a>
            <a class="main-links-flex-item" href="{% url 'training_list' %}">
                <h3 class="main-links-flex-item-title">Тренажер</h3>
                <p class="main-links-flex-item-text">Тренируйтесь эффективно и улучшайте свои навыки с нашим тренажером!</p>
            </a>
            <a class="main-links-flex-item" href="#">
                <h3 class="main-links-flex-item-title">Блог</h3>
                <p class="main-links-flex-item-text">Читайте наш блог, чтобы быть в курсе последних новостей и трендов IT!</p>
            </a>
        </div>
    </div>

    <div class="main-reviews">
        <h1 class="main-reviews-title">Отзывы</h1>
        <div class="main-reviews-flex">
            {% for review in reviews %}
                <div class="main-reviews-flex-item">
                    <div class="main-reviews-flex-item-user">
                        {% if review.user.avatar %}
                            <img class="main-reviews-flex-item-user-avatar" src="{{ review.user.avatar.url }}" alt="User avatar">
                        {% else %}
                            <img class="main-reviews-flex-item-user-avatar" src="{% static 'img/default.png' %}" alt="User avatar">
                        {% endif %}
                        <div class="main-reviews-flex-item-user-info">
                            {% if review.user.first_name and review.user.last_name %}
                                <p class="main-reviews-flex-item-user-info-username">{{ review.user.last_name }}  {{ review.user.first_name }}</p>
                            {% else %}
                                <p class="main-reviews-flex-item-user-info-username">{{ review.user.username }}</p>
                            {% endif %}
                            <p class="main-reviews-flex-item-user-info-course">Курс - «{{ review.course.title }}»</p>
                        </div>
                    </div>
                    <p class="main-reviews-flex-item-reviewtext">"{{ review.body }}"</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}